<!-- Menu horizontal -->
<header class="main-header">
    <!-- Logo -->
    <a href="../v1/inicio" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Km</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Km</b>soft</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="">
                        <img src=<%= foto %> class="user-image" alt="User Image">
                        <span class="hidden-xs"><%= nombre %></span>
                    </a>
                </li>
                <!-- Sing out -->
                <li>
                    <a href="../v1/salir"><i class="fa fa-sign-out"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- =============================================== -->

<!-- Menu vertical -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENÚ</li>

<!-- Usuarios -->
            <li>
                <a href="../v1/usuarios">
                    <i class="fa fa-calendar"></i><span>Usuarios</span>
                </a>
            </li>
<!-- productos -->
            <li>
                <a href="../v1/producto">
                    <i class="fa fa-envelope"></i> <span>Productos</span>
                </a>
            </li>
<!-- categorias -->
            <li>
                <a href="../v1/categoria">
                    <i class="fa fa-sitemap"></i> <span>Categorias</span>
                </a>
            </li>

<!-- salir -->
            <li>
                <a href="../v1/salir">
                    <i class="fa fa-sign-out"></i> <span>Salir</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>